@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&display=swap");

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 118px;
  height: 1024px;
  text-align: start;
  background: #ffffff;
  box-shadow: 0px 3.49498px 26.2123px rgba(0, 0, 0, 0.1);
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.174749px;
  /* transform: matrix(-1, 0, 0, 1, 0, 0); */
}

.display1 {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 55px;
  cursor: pointer;
  color: rgba(33, 33, 33, 1);
}

div:hover {
  color: rgba(30, 30, 30, 0.8);
  /* aspect-ratio: 1.5; */
}

.up-arrow {
  margin-bottom: 12px !important;
}

img {
  cursor: pointer;
}
