


body {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
/* 
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 13px; */

  /* position: relative; */
  /* width:1440px;
  border: 1px solid black;
  height: 1024px;
  Top:-512px;
  Left:-720px;
  margin-top: 2rem; */

 

}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


